* {
    margin: 20px;
    padding: 0;
}
.secondej {
    display: flex;
}
.contraseña {
    display: flex;
}
p {
    border: solid 2px;
    border-color: aqua;
    background-color: black;
    color: aqua;
    padding: 2px;
    width: 250px;
}